@font-face {
    font-family: Roboto Light;
    src: url("../resources/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../resources/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto Bold;
    src: url("../resources/Roboto-Bold.ttf");
}

.bg-white {
    -fx-background-color: #ffffff;
}

.bg-dark-blue {
    -fx-background-color: #342b60;
}

.bg-dark-blue-shadow {
    -fx-background-color: #342b60;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.58), 16, 0, 6, 5);
}

.bg-dark-gray-stripes {
    -fx-background-color: #1e1f20;
    -fx-background-image: url("../resources/bg-header-stripes.png");
}

.bg-dark-red-stripes {
    -fx-background-color: #6f0035;
    -fx-background-image: url("../resources/bg-header-stripes.png");
}

.bg-black-semitransparent {
    -fx-background-color: rgba(30, 31, 32, 0.8);
}


.label {
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #ffffff;
    -fx-font-size: 23px;
}

.label-pink {
    -fx-font-family: "Roboto";
    -fx-text-fill: #e4067e;
}

.label-bold {
    -fx-font-family: "Roboto Bold";
}

.label-light-black {
    -fx-text-fill: #1b1b1b;
}

.dot-green {
    -fx-fill: #27fab7;
    -fx-stroke-width: 0px;
}

.dot-red {
    -fx-fill: #e4067e;
    -fx-stroke-width: 0px;
}

.button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #e4067e;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.26), 16, 0, 0, 11);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.button-multi-component {
    -fx-border-radius: 0;
    -fx-end-margin: 0;
    -fx-start-margin: 0;
}

.button:disabled {
    -fx-opacity: 1;
    -fx-border-radius: 1px;
    -fx-border-color: #342b60;
    -fx-background-color: #4a4e50;
}

.schedule-panel {
    -fx-background-color: transparent;
}

.schedule-panel-body {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.separator:vertical .line{
    -fx-border-width: 0.25;
    -fx-border-color: #ffffff;
}

.settings-shape {
    -fx-shape: "M19.44 12.99l-.01.02c.04-.33.08-.67.08-1.01 0-.34-.03-.66-.07-.99l.01.02 2.44-1.92-2.43-4.22-2.87 1.16.01.01c-.52-.4-1.09-.74-1.71-1h.01L14.44 2H9.57l-.44 3.07h.01c-.62.26-1.19.6-1.71 1l.01-.01-2.88-1.17-2.44 4.22 2.44 1.92.01-.02c-.04.33-.07.65-.07.99 0 .34.03.68.08 1.01l-.01-.02-2.1 1.65-.33.26 2.43 4.2 2.88-1.15-.02-.04c.53.41 1.1.75 1.73 1.01h-.03L9.58 22h4.85s.03-.18.06-.42l.38-2.65h-.01c.62-.26 1.2-.6 1.73-1.01l-.02.04 2.88 1.15 2.43-4.2s-.14-.12-.33-.26l-2.11-1.66zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z";
    -fx-background-color: white;
}

.microphone-shape {
    -fx-shape: "M12 14c1.66 0 3-1.34 3-3V5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.91-3c-.49 0-.9.36-.98.85C16.52 14.2 14.47 16 12 16s-4.52-1.8-4.93-4.15c-.08-.49-.49-.85-.98-.85-.61 0-1.09.54-1 1.14.49 3 2.89 5.35 5.91 5.78V20c0 .55.45 1 1 1s1-.45 1-1v-2.08c3.02-.43 5.42-2.78 5.91-5.78.1-.6-.39-1.14-1-1.14z";
    -fx-background-color: white;
}

.microphone-off-shape {
    -fx-shape: "M15 10.6V5c0-1.66-1.34-3-3-3-1.54 0-2.79 1.16-2.96 2.65L15 10.6zm3.08.4c-.41 0-.77.3-.83.71-.05.32-.12.64-.22.93l1.27 1.27c.3-.6.52-1.25.63-1.94.07-.51-.33-.97-.85-.97zM3.71 3.56c-.39.39-.39 1.02 0 1.41L9 10.27v.43c0 1.19.6 2.32 1.63 2.91.75.43 1.41.44 2.02.31l1.66 1.66c-.71.33-1.5.52-2.31.52-2.54 0-4.88-1.77-5.25-4.39-.06-.41-.42-.71-.83-.71-.52 0-.92.46-.85.97.46 2.96 2.96 5.3 5.93 5.75V20c0 .55.45 1 1 1s1-.45 1-1v-2.28c.91-.13 1.77-.45 2.55-.9l3.49 3.49c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L5.12 3.56c-.39-.39-1.02-.39-1.41 0z";
    -fx-background-color: #e4067e;
}

.stop-shape {
    -fx-shape: "M6 6h12v12H6V6z";
    -fx-background-color: white;
}

.pause-shape {
    -fx-shape: "M6 19h4V5H6v14zm8-14v14h4V5h-4z";
    -fx-background-color: white;
}

.extend-shape {
    -fx-shape: "M4,18l8.5-6L4,6V18z M13,6v12l8.5-6L13,6z";
    -fx-background-color: white;
}

.play-shape {
    -fx-shape: "M8 5v14l11-7z";
    -fx-background-color: white;
}

.pause-round-shape {
    -fx-shape: "M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M11,16H9V8h2V16z M15,16h-2V8h2V16z";
    -fx-background-color: white;
}

.loading-shape {
    -fx-shape: "M12 508V509.79c0 .45-.54.67-.85.35l-2.8-2.79c-.2-.2-.2-.51 0-.71l2.79-2.79c.32-.31.86-.09.86 .36V506c3.31 0 6-2.69 6-6 0-.79-.15-1.56-.44-2.25-.15-.36-.04-.77.23-1.04.51-.51 1.37-.33 1.64.34 .37.91 .57 1.91.57 2.95 0 4.42-3.58 8-8 8zm0-14c-3.31 0-6 2.69-6 6 0 .79.15 1.56.44 2.25.15 .36.04 .77-.23 1.04-.51.51-1.37.33-1.64-.34C4.2 502.04 4 501.04 4 500c0-4.42 3.58-8 8-8v-1.79c0-.45.54-.67.85-.35l2.79 2.79c.2.2 .2.51 0 .71l-2.79 2.79c-.31.31-.85.09-.85-.36V494z";
    -fx-background-color: white;
}

.soundbar-active {
    -fx-background-image: url("../resources/soundbar-active.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-size: 350 21;
}

.soundbar {
    -fx-image: url("../resources/soundbar.png");
}

.progress-indicator{
    -fx-progress-color: white;
}
